

.img-nav{
    width: 30px;
    height: 30px;
    margin-left: 10
    px;
}

.pic-on-stage > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;

    background-size: cover;
    max-width: 80% !important;
    max-height: 60vh !important;
}